{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block main %}

<!-- ======= Breadcrumbs ======= -->

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Get started</h2>
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Get started</li>
            </ol>
        </div>

    </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">


        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>{{street}}, {{city}}, {{cc}} {{zip}}</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@trucleenservices.co.za</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+27 6765 0526 3 </p>
                        <p>+276 710 66 600</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="{% url 'calendar' %}" method="post" role="form" class="php-email-form">
                    {% csrf_token %}
                    <!-- <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div> -->
                    <!-- <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div> -->

                    <div class="form-group mt-3">
                        {{form}}
                        <!-- <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required> -->
                    </div>
                    <!-- <div class="form-group mt-3">
                        {{form2}}
                    </div> -->


                    <!-- <div class="text-center"><button type="submit">Next</button></div> -->
                    <div class="text-center"><button type="submit">Next</button></div>
                </form>

            </div>

        </div>

    </div>
</section>
<!-- End Contact Section -->


{% endblock main %}

<!--  -->
{% block jstags %}
<!--  -->
{% endblock jstags %}