{% extends 'base.html' %} {% block content %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Email sent to you</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Email sent to you</li>
                </ol>
            </div>

        </div>
    </section>

    <div class="container p-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <!-- <hr> -->
                <p>We've sent you an email. Just keep the date and time of your appointment.</p>
                <div class="text-center">
                    <a href="{% url 'calendar' %}" class="btn btn-light" data-mdb-ripple-color="blue">Try again?</a>
                    <!-- <button type="submit" class="btn">Submit</button> -->
                    <!-- <div class="text-center m-3"><button href="{% url 'home' %}">Sign in</button></div> -->
                </div>
                <!-- <div class="text-center"><button type="button" href="{% url 'home' %}">Resend</button></div> -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</main>

{% endblock %}